{{ form_start(form) }}
{{ form_row(form._token) }}
    {% if app.request.attributes.get('_route') == "add_trick" %}
        <div class="row mb-4 px-5">
            <div class="col-12 col-md-10 mx-auto">
                {{ form_row(form.nameTrick) }}
            </div>
        </div>
    {% endif %}
    <div class="row mb-4 px-5">
        <div class="col-12 col-md-10 mx-auto" id="trick-description">
            {{ form_row(form.descriptionTrick) }}
        </div>
    </div>
    <div class="row mb-4 px-5">
        <div class="col-12 col-md-10 mx-auto">

            {{ form_row(form.trickType) }}

            {% if app.request.attributes.get('_route') == "add_trick" %}
                {{ form_row(form.addNewType) }}
            {% endif %}

        </div>
    </div>
    <div class="row mb-4 px-5">
        <div class="col-12 col-md-10 mx-auto">
            {{ form_row(form.images) }} 
        </div>
    </div>
    <div class="row mb-4 px-5">
        <div class="col-12 col-md-10 mx-auto">
            {{ form_label(form.medias) }} <button type="button" class="add_item_link" data-collection-holder-class="medias">Add media</button>
            <ul class="medias" data-index="{{ form.medias|length > 0 ? form.medias|last.medias.name + 1 : 0 }}" data-prototype="{{ form_widget(form.medias.vars.prototype)|e('html_attr') }}"></ul>

            {{ form_help(form.medias) }}
            {% do form.medias.setRendered %}
        </div>
    </div>
    <div class="row mb-4 px-5">
        <div class="col-12 col-md-10 text-end">
            {% if app.request.attributes.get('_route') == "update_trick" %}
                <a href="{{ path('delete_trick', {slugTrick: trick.slugTrick})}}" id="delete-trick" data-token="{{ csrf_token('delete' ~ trick.idTrick )}}" class="btn btn-danger">Delete</a>
            {% endif %}
                <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
        </div>
    </div>
</div>
{{ form_end(form) }}

<script>
    addMediaListener();

    deleteTrickButton();

    addNewTypeListener();
</script>
