<div class="row justify-content-md-center mx-auto my-2">
    <div class="col-2 col-md-2 col-lg-1">
        <img src="{{ avatarPath }}" alt="{{ username }} avatar" class="comment-avatar">
    </div>
    <div class="col-9 col-md-6 comment-content">
        <div class="row">
            <div class="col">
                {{ comment }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                By {{ username }} on {{ writted }}
            </div>
        </div>
    </div>
</div>