{% extends 'base.html.twig' %}

{% block title %}Snowtricks - {{ trick.nameTrick }} details{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center mx-0">
            <div class="col-12 col-md-10 px-0 trick-details">
                <div class="row mb-3 px-0">
                    <div class="col">
                        <div class="trick-main-image">
                            <img id="image-src" alt="{{ trick.nameTrick }}" />
                            <div class="trick-main-name">{{ trick.nameTrick }}</div>
                            {% if is_granted("ROLE_CONFIRMED_USER") %}
                                <div class="trick-details-edit">
                                    <a href="{{ path('update_trick', {'slugTrick': trick.slugTrick}) }}"><img src="https://img.icons8.com/ios-glyphs/30/000000/edit--v1.png" style="width:30px;height:30px;" /></a>
                                    <a href="{{ path('delete_trick', {'slugTrick': trick.slugTrick}) }}" data-delete-trick data-token="{{ csrf_token('delete' ~ trick.idTrick )}}"><img src="https://img.icons8.com/ios-glyphs/30/000000/filled-trash.png" style="width:30px;height:30px;" /></a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row mb-2 px-3">
                    <div class="col">
                        <div class="row flex-row flex-nowrap overflow-auto" id="more-medias">
                            <script>
                                const imgSrc = document.querySelector("#image-src");
                                const moreMedia = document.querySelector("#more-medias");
                            </script>
                            {% for image in trick.images %}
                                {% if loop.index == 1 %}
                                    <script>
                                        imgSrc.src = `{{ asset('/images/tricks/'~image.pathTrickImage) }}`;
                                    </script>
                                {% else %}
                                    <script>
                                        moreMedia.innerHTML += `<div class="col-7 col-md-6 col-lg-5 col-xl-4 col-xxl-4 trick-more-medias"><img src="{{ asset('/images/tricks/'~image.pathTrickImage) }}" alt="{{ trick.nameTrick }}" /></div>`;
                                    </script>
                                {% endif %}
                            {% else %}
                                <script>
                                    imgSrc.src = `{{ asset('/images/tricks/default.jpg') }}`;
                                </script>
                            {% endfor %}

                            {% for media in trick.medias %}
                                <script>
                                    var embedded = getEmbedTag(`{{ media.urlTrickMedia }}`);
                                    moreMedia.innerHTML += `<div class="col-7 col-md-6 col-lg-5 col-xl-4 col-xxl-4">${embedded}</div>`;
                                </script>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row mb-4 px-5">
                    <div class="col">
                        {{ trick.descriptionTrick }}
                    </div>
                </div>
                <div class="row px-0">
                    <div class="col mb-4" style="text-align: center;">
                        <span class="badge bg-primary">{{ trick.trickType }}</span>
                        <span class="badge bg-success">Created : {{ trick.creationDateTrick|date('Y-m-d H:i') }}</span>
                        {% if trick.modificationDateTrick %}
                            <span class="badge bg-info text-dark">Edited : {{ trick.modificationDateTrick|date("Y-m-d H:i") }}</span>
                        {% endif %}
                        <hr style="width: 80%; margin: auto; height: 2px; margin-top: 1%;">
                    </div>
                </div>
                <div class="row px-0">
                    <div class="col mb-4" style="text-align: center;">
                        Form
                        <hr style="width: 80%; margin: auto; height: 2px; margin-top: 1%;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        deleteTrickListener();
    </script>
{% endblock %}