{% extends 'base.html.twig' %}

{% block title %}Snowtricks - Update {{ trick.nameTrick }} details{% endblock %}

{% block body %}

<div class="modal fade" id="modal-window" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-fullscreen-md-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Edit trick image</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-body">
            </div>
        </div>
    </div>
</div>

<script>
window.onload = function () {

    updateImageListener();

    deleteImageListener();

    updateMediaListener();

    deleteMediaListener();
}
</script>
    <div class="container">
        <div class="row justify-content-center mx-0">
            <div class="col-12 col-md-10 px-0 trick-details">
                <div class="row mb-3 px-0">
                    <div class="col">
                        <div class="trick-main-image">
                            <img id="image-src" alt="{{ trick.nameTrick }}" />
                            <div class="trick-main-name">{{ trick.nameTrick }}</div>
                            {% if is_granted("ROLE_CONFIRMED_USER") %}
                                <div class="trick-details-edit" id="trick-details-edit">
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row mb-2 px-3">
                    <div class="col">
                        <div class="row d-block d-md-none">
                            <div class="col text-center">
                                <input type="button" value="See medias" class="btn btn-success" id="see-medias">
                            </div>
                        </div>
                        <div class="row flex-row flex-nowrap overflow-auto trick-more-medias d-none d-md-flex" id="more-medias">
                            <script>
                                const imgSrc = document.querySelector("#image-src");
                                const mainEdit = document.querySelector("#trick-details-edit");
                                const moreMedia = document.querySelector("#more-medias");
                                var mediaCount = 0;
                            </script>
                            {% for image in trick.images %}
                                {% if loop.index == 1 %}
                                    <script>
                                        // Set main trick image
                                        imgSrc.src = `{{ asset('/images/tricks/'~image.pathTrickImage) }}`;
                                        mainEdit.innerHTML = `
                                            <a href="{{ path('update_image', {id: image.idTrickImage}) }}" data-update-image data-token="{{ csrf_token('update' ~ image.idTrickImage )}}"><img src="https://img.icons8.com/ios-glyphs/30/000000/edit--v1.png" style="width:30px;height:30px;" /></a>
                                            <a href="{{ path('delete_image', {id: image.idTrickImage}) }}" data-delete-image data-token="{{ csrf_token('delete' ~ image.idTrickImage )}}"><img src="https://img.icons8.com/ios-glyphs/30/000000/filled-trash.png" style="width:30px;height:30px;" /></a>
                                            `;
                                        mediaCount += 1;
                                    </script>
                                {% else %}
                                    <script>
                                        moreMedia.innerHTML += `
                                            <div class="col-7 col-md-6 col-lg-5 col-xl-4 col-xxl-4 trick-edit-media">
                                                <img src="{{ asset('/images/tricks/'~image.pathTrickImage) }}" alt="{{ trick.nameTrick }}" />
                                                <div class="trick-edit-window">
                                                    <div class="trick-details-edit">
                                                        <a href="{{ path('update_image', {id: image.idTrickImage}) }}" data-update-image data-token="{{ csrf_token('update' ~ image.idTrickImage )}}"><img src="https://img.icons8.com/ios-glyphs/30/000000/edit--v1.png" style="width:30px;height:30px;" /></a>
                                                        <a href="{{ path('delete_image', {id: image.idTrickImage}) }}" data-delete-image data-token="{{ csrf_token('delete' ~ image.idTrickImage )}}"><img src="https://img.icons8.com/ios-glyphs/30/000000/filled-trash.png" style="width:30px;height:30px;" /></a>
                                                    </div>
                                                </div>
                                            </div>`;
                                            mediaCount += 1;
                                    </script>
                                {% endif %}
                            {% else %}
                                <script>
                                    imgSrc.src = `{{ asset('/images/tricks/default.jpg') }}`;
                                </script>
                            {% endfor %}

                            {% for media in trick.medias %}
                                <script>
                                    var embedded = getEmbedTag(`{{ media.urlTrickMedia }}`);
                                        moreMedia.innerHTML += `
                                            <div class="col-7 col-md-6 col-lg-5 col-xl-4 col-xxl-4 trick-edit-media">
                                                ${embedded}
                                                <div class="trick-edit-window">
                                                    <div class="trick-details-edit">
                                                        <a href="{{ path('update_media', {id: media.idTrickMedia}) }}" data-update-media data-token="{{ csrf_token('update' ~ media.idTrickMedia )}}"><img src="https://img.icons8.com/ios-glyphs/30/000000/edit--v1.png" style="width:30px;height:30px;" /></a>
                                                        <a href="{{ path('delete_media', {id: media.idTrickMedia}) }}" data-delete-media data-token="{{ csrf_token('delete' ~ media.idTrickMedia )}}"><img src="https://img.icons8.com/ios-glyphs/30/000000/filled-trash.png" style="width:30px;height:30px;" /></a>
                                                    </div>
                                                </div>
                                            </div>`;
                                            mediaCount += 1;
                                </script>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row px-0">
                    <div class="col mb-4" style="text-align: center;">
                        <span class="badge bg-primary">{{ trick.trickType }}</span>
                        <span class="badge bg-success">Created : {{ trick.creationDateTrick|date('Y/m/d H:i') }}</span>
                        {% if trick.modificationDateTrick %}
                            <span class="badge bg-info text-dark">Edited : {{ trick.modificationDateTrick|date("Y/m/d H:i") }}</span>
                        {% endif %}
                    </div>
                </div>

                {% include "trick/_form.html.twig" %}

            </div>
        </div>
    </div>
    <script>
        showHideMedias();
    </script>
{% endblock %}