{% extends "base.html.twig" %}

{% block title %}SnowTricks - Reset Password{% endblock %}

{% block body %}

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="container-fluid container-md vh-100">
        <div class="d-none d-md-block fs-1 text-center">
           Reset Password
        </div>
        <div class="row justify-content-md-center">
            <div class="col col-md-7 col-lg-6 col-xl-5 col-xxl-4 mx-4 mx-md-2 my-5 py-md-4 px-3 px-md-5 border border-dark">
                <div class="d-block d-md-none mt-1 fs-1 text-center">
                    Reset Password
                </div>
                <div class="row row-cols-1 form-container mt-5 mt-md-1">
                    <div class="col text-center">
                        {{ form_label(form.username) }}
                    </div>
                    <div class="col text-center {{  form_errors(form.username) ? 'form-error' : '' }}">
                        {{ form_widget(form.username) }}
                    </div>
                    <div class="col text-center">
                        {% if form_errors(form.username) is empty %}
                            {{ form_help(form.username) }}
                        {% else %}
                            {{ form_errors(form.username) }}
                        {% endif %}
                    </div>
                </div>
                <div class="row row-cols-1 form-container mt-5 mt-md-1">
                    <div class="col text-center">
                        {{ form_label(form.password) }}
                    </div>
                    <div class="col text-center {{  form_errors(form.password) ? 'form-error' : '' }}">
                        {{ form_widget(form.password) }}
                    </div>
                    <div class="col text-center">
                        {% if form_errors(form.password) is empty %}
                            {{ form_help(form.password) }}
                        {% else %}
                            {{ form_errors(form.password) }}
                        {% endif %}
                    </div>
                </div>
                <div class="row row-cols-1 my-5 my-md-3">
                    <div class="col text-center">
                        {{ form_row(form.reset) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{{ form_rest(form) }}

{% endblock %}