{% extends "base.html.twig" %}

{% block title %}SnowTricks - Login{% endblock %}

{% block body %}
<form action="{{ path('signin') }}" method="post">
    <div class="container-fluid container-md vh-100">
        <div class="d-none d-md-block title-box">
            Login
        </div>
        <div class="row justify-content-md-center">
            <div class="col col-md-7 col-lg-6 col-xl-5 col-xxl-4 mx-4 mx-md-2 my-4 py-md-4 px-3 px-md-5 border border-dark text-center">
                <div class="d-block d-md-none mt-1 fs-1 text-center">
                    Login
                </div>
                <div class="row row-cols-1 form-container mt-5 mt-md-3">
                    <div class="col text-center">
                        Username
                    </div>
                    <div class="col text-center {{  error ? 'form-error' : '' }}">
                        <input type="text" id="username" name="_username" value="{{ last_username }}"/>
                    </div>
                </div>
                <div class="row row-cols-1 form-container mt-5 mt-md-3">
                    <div class="col text-center">
                        Password
                    </div>
                    <div class="col text-center {{  error ? 'form-error' : '' }}">
                        <input type="password" id="password" name="_password"/>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <input type="hidden" name="_target_path" value="{{ path("homepage") }}"/>
                    </div>
                </div>
                <div class="row row-cols-1 mt-5 mt-md-3">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </div>
                <div class="d-block d-md-none my-3">
                    <a href="{{ path("signup") }}">Register</a>
                </div>
                {% if error %}
                    <div class="text-center my-3">
                        Username and/or password not match
                    </div>
                {% endif %}
                <a href="{{ path("forgot_password") }}" class="d-block my-3">Forgot Password ?</a>
            </div>
        </div>
    </div>
</form>
{% endblock %}